---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey-color: #000000 !default;
$grey-color-light: #e5e5e5 !default;
$grey-color-dark: #000000 !default;

$main-color: #7d2000;
$main-color-light: #b88574;
$main-color-white: #c1a0a0;
$main-color-light: #cfa090;
// $background-color: $grey-color-light !default;
// $background-color: #3d3d3d !default;
// $background-color: #707070 !default;
// $background-color: #1e1e2e !default;
$background-color: #272b36 !default;
$content-width: 100vh;

$fade-delay-0:   0ms !default;
$fade-delay-1: 200ms !default;
$fade-delay-2: 400ms !default;

@import "minima";

@keyframes fadeIn {
  0% {
    opacity: 0;
    padding-left: 25px;
  }
  100% {
    opacity: 100%;
    padding-left: 0px;
  }
}

.site-header {
  border: 5px solid $background-color;
  border: 0px;
  border: 3px solid darken($main-color-light, 25%);

  background: $main-color-light;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;

  width: $content-width;

  opacity: 0;
  animation: fadeIn ease 1s $fade-delay-0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.site-footer {
  background: #d0d0e0;
  border: 0px;
  border: 3px solid darken(#d0d0e0, 25%);
  border-radius: 25px;
  margin: 20px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: $content-width;

  opacity: 0;
  animation: fadeIn ease 1s $fade-delay-2;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.page-content {
  border-radius: 25px;
  border: 3px solid #cfcf8f;
  background: lighten(#cfcf8f, 30%);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;

  width: $content-width;

  opacity: 0;
  animation: fadeIn ease 1s $fade-delay-1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
  background: #000;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #eef;
    background: #000;
  }

  pre { background-color: #272822; }
  .hll { background-color: #272822; }
  .c { color: #75715e } /* Comment */
  .err { color: #960050; background-color: #1e0010 } /* Error */
  .k { color: #66d9ef } /* Keyword */
  .l { color: #ae81ff } /* Literal */
  .n { color: #f8f8f2 } /* Name */
  .o { color: #f92672 } /* Operator */
  .p { color: #f8f8f2 } /* Punctuation */
  .cm { color: #75715e } /* Comment.Multiline */
  .cp { color: #75715e } /* Comment.Preproc */
  .c1 { color: #75715e } /* Comment.Single */
  .cs { color: #75715e } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */
  .kc { color: #66d9ef } /* Keyword.Constant */
  .kd { color: #66d9ef } /* Keyword.Declaration */
  .kn { color: #f92672 } /* Keyword.Namespace */
  .kp { color: #66d9ef } /* Keyword.Pseudo */
  .kr { color: #66d9ef } /* Keyword.Reserved */
  .kt { color: #66d9ef } /* Keyword.Type */
  .ld { color: #e6db74 } /* Literal.Date */
  .m { color: #ae81ff } /* Literal.Number */
  .s { color: #e6db74 } /* Literal.String */
  .na { color: #a6e22e } /* Name.Attribute */
  .nb { color: #f8f8f2 } /* Name.Builtin */
  .nc { color: #a6e22e } /* Name.Class */
  .no { color: #66d9ef } /* Name.Constant */
  .nd { color: #a6e22e } /* Name.Decorator */
  .ni { color: #f8f8f2 } /* Name.Entity */
  .ne { color: #a6e22e } /* Name.Exception */
  .nf { color: #a6e22e } /* Name.Function */
  .nl { color: #f8f8f2 } /* Name.Label */
  .nn { color: #f8f8f2 } /* Name.Namespace */
  .nx { color: #a6e22e } /* Name.Other */
  .py { color: #f8f8f2 } /* Name.Property */
  .nt { color: #f92672 } /* Name.Tag */
  .nv { color: #f8f8f2 } /* Name.Variable */
  .ow { color: #f92672 } /* Operator.Word */
  .w { color: #f8f8f2 } /* Text.Whitespace */
  .mf { color: #ae81ff } /* Literal.Number.Float */
  .mh { color: #ae81ff } /* Literal.Number.Hex */
  .mi { color: #ae81ff } /* Literal.Number.Integer */
  .mo { color: #ae81ff } /* Literal.Number.Oct */
  .sb { color: #e6db74 } /* Literal.String.Backtick */
  .sc { color: #e6db74 } /* Literal.String.Char */
  .sd { color: #e6db74 } /* Literal.String.Doc */
  .s2 { color: #e6db74 } /* Literal.String.Double */
  .se { color: #ae81ff } /* Literal.String.Escape */
  .sh { color: #e6db74 } /* Literal.String.Heredoc */
  .si { color: #e6db74 } /* Literal.String.Interpol */
  .sx { color: #e6db74 } /* Literal.String.Other */
  .sr { color: #e6db74 } /* Literal.String.Regex */
  .s1 { color: #e6db74 } /* Literal.String.Single */
  .ss { color: #e6db74 } /* Literal.String.Symbol */
  .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .vc { color: #f8f8f2 } /* Name.Variable.Class */
  .vg { color: #f8f8f2 } /* Name.Variable.Global */
  .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  .il { color: #ae81ff } /* Literal.Number.Integer.Long */

  .gh { } /* Generic Heading & Diff Header */
  .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
  .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}

/* NOTE(opadron): fix highlighting inconsistencies */
figure.highlight > pre > code {
  background: none;
}

div.highlighter-rouge > div > pre {
  background: #272822 !important;
  color: #f8f8f2;
  code {
    background: none;
  }
}

figure.highlight > pre > code.language-plaintext {
  background: none;
  color: #f8f8f2;
}
